<!DOCTYPE html>
<html>
  <head>
    <title>solo=project</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <script src="./scripts/server.js"></script>
    <h1>My Diary</h1>
    <div id="parent">
      <div id="in">
        <p></p>
        <h3>get a diary</h3>
        <p></p>
        <table border="0">
          <tbody>
            <tr>
              <td>id</td>
              <td><input type="text" id="id" placeholder="id" /></td>
            </tr>
            <tr>
              <td>date</td>
              <td><input type="text" id="id" placeholder="yyyy/mm/dd" /></td>
            </tr>
            <tr>
              <td>location</td>
              <td><input type="text" id="id" placeholder="location" /></td>
            </tr>
            <tr>
              <td>with</td>
              <td><input type="text" id="id" placeholder="with" /></td>
            </tr>
            <tr>
              <td>score</td>
              <td><input type="text" id="id" placeholder="score" /></td>
            </tr>
            <tr>
              <td>comment</td>
              <td><input type="text" id="id" placeholder="comment" /></td>
            </tr>
            <tr>
              <td>
                <input type="button" value="get diary" onclick="getUsers();" />
              </td>
            </tr>
          </tbody>
        </table>

        <h3>create a diary</h3>
        <p></p>
        <table border="0">
          <tbody>
            <tr>
              <td>id</td>
              <td><input type="text" id="id" placeholder="id" /></td>
            </tr>
            <tr>
              <td>date</td>
              <td><input type="text" id="id" placeholder="yyyy/mm/dd" /></td>
            </tr>
            <tr>
              <td>location</td>
              <td><input type="text" id="id" placeholder="location" /></td>
            </tr>
            <tr>
              <td>with</td>
              <td><input type="text" id="id" placeholder="with" /></td>
            </tr>
            <tr>
              <td>score</td>
              <td><input type="text" id="id" placeholder="score" /></td>
            </tr>
            <tr>
              <td>comment</td>
              <td><input type="text" id="id" placeholder="comment" /></td>
            </tr>
            <tr>
              <td>
                <input
                  type="button"
                  value="create diary"
                  onclick="getUsers();"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <h3>put a diary</h3>
        <p></p>
        <table border="0">
          <tbody>
            <tr>
              <td>id</td>
              <td><input type="text" id="id" placeholder="id" /></td>
            </tr>
            <tr>
              <td>date</td>
              <td><input type="text" id="id" placeholder="yyyy/mm/dd" /></td>
            </tr>
            <tr>
              <td>location</td>
              <td><input type="text" id="id" placeholder="location" /></td>
            </tr>
            <tr>
              <td>with</td>
              <td><input type="text" id="id" placeholder="with" /></td>
            </tr>
            <tr>
              <td>score</td>
              <td><input type="text" id="id" placeholder="score" /></td>
            </tr>
            <tr>
              <td>comment</td>
              <td><input type="text" id="id" placeholder="comment" /></td>
            </tr>
            <tr>
              <td>
                <input
                  type="button"
                  value="put a diary"
                  onclick="getUsers();"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <h3>delete a diary</h3>
        <p></p>
        <table border="0">
          <tbody>
            <tr>
              <td>id</td>
              <td><input type="text" id="id" placeholder="id" /></td>
            </tr>
            <tr>
              <td>date</td>
              <td><input type="text" id="id" placeholder="yyyy/mm/dd" /></td>
            </tr>
            <tr>
              <td>location</td>
              <td><input type="text" id="id" placeholder="location" /></td>
            </tr>
            <tr>
              <td>with</td>
              <td><input type="text" id="id" placeholder="with" /></td>
            </tr>
            <tr>
              <td>score</td>
              <td><input type="text" id="id" placeholder="score" /></td>
            </tr>
            <tr>
              <td>comment</td>
              <td><input type="text" id="id" placeholder="comment" /></td>
            </tr>
            <tr>
              <td>
                <input
                  type="button"
                  value="delete diary"
                  onclick="getUsers();"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="out">
        <p></p>
      </div>
    </div>
  </body>
</html>
